 *{
   box-sizing: border-box;
 }
 body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial;

 }
 /* #quote{
   margin-top: 50%;
   margin: 75px;
   width:75%;
   display: block;
   padding: 25%;
   height: 100%;
 }
 #quote p{
   position: absolute;
   bottom: 0;
   left: 0%;
   font-weight:800;
   font-size: xx-large;
   color: rgb(139, 13, 139);
   font-style:italic;
   text-align: left;
   

 }
  */
  #history{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 20px;
   margin: 20px 20px;
   height:100%;
  
  }
  #historty img{
   width: 75px;
  }
  #history  div{
   padding: 5pc;
   color:black;
  }
 


 .section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(./image/istockphoto-1395177805-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 15s infinite ease-in-out;
 }
 @keyframes change {
    0%
    {
        background-image: url(./image/istockphoto-510568014-612x612.jpg);

    }

    20%
    {
        background-image: url(./image/istockphoto-941328776-612x612.jpg);

    }
    40%
    {
        background-image: url(./image/istockphoto-480849669-612x612.jpg);

    }
    60%
    {
        background-image: url(./image/istockphoto-941328776-612x612.jpg);

    }
    80%
    {
        background-image: url(./image/istockphoto-1131101048-612x612.jpg);

    }
   100%
    {
        background-image: url(./image/istockphoto-1323655349-612x612.jpg);

    }
 }
 nav{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;

 }
 nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-style: italic;

 }
 nav ul{
    list-style-type: none;
    float: right;
    margin: 0%;
    padding: 0%;
    display: flex;
 }
 nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
 }
 nav ul li a:hover{
    background: rgb(245, 158, 172);
    border-radius: 6px;
 }
 /* stylin the contact section */
 

#categories{
   background-color: rgba(0, 0, 0, 0.531);
   color: white;
   margin-top: -1.5em;
   display: flex;
   flex-direction: column;
   font-size: 16px;
   font-weight: bolder;
   display: none;
}

#categories option{
   margin-top: 5px;
   padding: 4px;
}

#categories option:hover {
   background-color: orchid;
}

#artisty{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.arts-cart{
   background-color: rgb(168, 208, 194);
   width: 70%;
   margin-top: 2em;
   margin-right: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 8px;
   box-shadow: 0.04em 0.04em 0.4em  rgb(212, 84, 106) ;
}
.arts-cart img{
   width: 100%;
}

#checkout{
   display: block;
   padding: 5px;
   font-weight: bolder;
   margin: 0 auto;
   position: fixed;
   bottom: 0;
   left: 30em;
   right: 30em;
   margin-bottom: 2em;
   background-color: tomato;
   border: none;
   border-radius: 5px;
}

.arts{
   background-color: rgb(168, 208, 194);
   width: 40%;
   margin-top: 2em;
   margin-right: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 8px;
   box-shadow: 0.04em 0.04em 0.4em  rgb(212, 84, 106) ;
}
.arts img {
   width: 100%;
   border-radius: 8px;
}

.cartbuttons{
   border-radius: 3px;
   color:white ;
   background-color: blueviolet;
   font-weight: bolder;
   margin-bottom: 10px;

}

#cart{
   display: none;
   position: absolute;
   border: solid 1px;
   left: 10em;
   right: 10em;
   top: 5em;
   bottom: 5em;

   background-color: white;
   overflow-y: scroll;

}

#items {
   display: flex;
   flex-direction: column;
   
   align-items: center;

   
   
}

#top{
   display: flex;
   align-items: center;
}
#top button {
   width: 30px;
   height: 30px;
   font-weight: bolder;
   font-size: 20px;
   background-color: tomato;
   border: none;
}
#top h1{
   width: 90%;
   text-align: center;
}
/* styling the contact form*/
.container{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 2px 100px;
}
.container:after{
   content: "";
   position: absolute;
   left: 0;
   top: 0%;
   width: 100%;
   height: 100%;
   background: url(https://cdn.pixabay.com/photo/2022/09/13/11/29/girl-7451711_960_720.jpg) no-repeat center;
   background-size: cover;
   z-index: -1;
   filter: blur(50px); 
}
.contact-box{
   max-width: 850px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #fff;

}
.left{
   height: 100%;
   background:url(https://cdn.pixabay.com/photo/2022/09/13/11/29/girl-7451711_960_720.jpg) no-repeat center ;
   background-size: cover;
}
.right{
   padding: 25px 40px;

}
h2{
   position: relative;
   padding-bottom:10px;
   margin-bottom: 10px; 
}
h2:after{
   content: '';
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%);
   height: 4px;
   width: 50px;
   border-radius: 2px;
   background-color: aqua;
}
.field{
   width: 100%;
   padding: 0.5rem 1rem;
   outline: none;
   border: 2px solid rgba(0, 0, 0, 0);
   background-color: rgba(230,230, 230,0.6);
   font-size: 1.1rem;
   margin-bottom: 22px;
   transition: .3s;
}
.field:hover{
   background-color: darkgray;

}
.field:focus{
   background-color: #fff;
   border: 2px solid rgba(30,85, 250, 0.47);
}
.btn{
   width: 100%;
   padding: 0.5rem 1rem;
   font-size: 1.1rem;
   background-color: aqua;
   cursor: pointer;
   outline: none;
   border: none;
   color: #fff;
   transition: .3s;
}
.btn:hover{
   background-color: rgb(199, 33, 166);
}


